@mixin reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin fontFamily {
  font-family: "Roboto Slab", serif;
}

@mixin margin($margin) {
  margin: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

@mixin container {
  width: $max_width;
  max-width: 100%;
  @include margin(0 auto);
  @include padding(80px 20px);

  @media (max-width: 992px) {
    width: $max_width_middle;
  }

  @media (max-width: 768px) {
    @include padding(60px 20px);
    width: $max_width_little;
  }

  @media (max-width: 576px) {
    @include padding(40px 20px);
    width: $max_width_little_extra;
  }
}

@mixin flex($justify, $align, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin image($width, $height, $objectFit: cover, $border_radius: 0) {
  width: $width;
  height: $height;
  object-fit: $objectFit;
  border-radius: $border_radius;
}

@mixin cta(
  $color: #de3a50,
  $background: #ffffff,
  $margin: 0,
  $padding: 8px 14px,
  $width: 100%,
  $height: 100%,
  $border_radius_cta: 0,
  $border: 1px solid #de3a50,
  $font_size: 17px
) {
  text-decoration: none;
  border-radius: $border_radius_cta;
  color: $color;
  background-color: $background;
  width: $width;
  height: $height;
  font-weight: 600;
  font-size: $font_size;
  margin: $margin;
  padding: $padding;
  border: $border;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color;
    border-color: $color;
    color: $white;
  }
}

@mixin hr($width, $height: 6px, $background_color: $blue, $color: $dark_blue) {
  width: $width;
  height: $height;
  background-color: $background_color;
  color: $color;
}

@mixin p($color: $dark_blue, $size: $p) {
  font-size: $size;
  font-weight: 500;
  color: $color;
}

@mixin h1($color, $size: $h1) {
  font-size: $size;
  font-weight: 700;
  color: $color;
  line-height: $line_height_h1;

  @media (max-width: 992px) {
    font-size: $h1_middle;
  }

  @media (max-width: 768px) {
    font-size: $h1_little;
  }
}

@mixin h2($color: $grey, $size: $h2) {
  font-size: $size;
  font-weight: 700;
  color: $color;
  line-height: $line_height_h2;

  @media (max-width: 992px) {
    font-size: $h2_middle;
  }

  @media (max-width: 768px) {
    font-size: $h2_little;
  }
}

@mixin h3($color: $dark_blue, $size: $h3) {
  font-size: $size;
  font-weight: 700;
  color: $color;
  line-height: $line_height_h3;
}
