$blue: #008ea6;
$green: #4ab076;
$red: #de3a50;
$grey: #a2b7be;
$grey_2: #cccccc;
$dark_blue: #033844;
$background_grey_light: #f5f5f5;
$white: #ffffff;
$black: #000000;
$max_width: 1400px;
$max_width_middle: 960px;
$max_width_little: 720px;
$max_width_little_extra: 540px;

$p: 16px;

$h1: 56px;
$h1_middle: 50px;
$h1_little: 36px;

$h2: 26px;
$h2_middle: 24px;
$h2_little: 20px;

$h3: 1.3em;
$h3_middle: 16px;
$h3_little: 15px;

$line_height_h1: 1.2em;
$line_height_h2: 1.168em;
$line_height_h3: 1.168em;
$border_radius_cta: 3px;
