@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background: #a78295;
  color: #ffffff;
}
*::selection {
  background: #a78295;
  color: #ffffff;
}
*:focus {
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #331d2c;
}

html {
  scroll-behavior: smooth;
}

body {
  /*  font-family: "Roboto Slab", serif; */
  font-family: "Poppins", sans-serif;
}
body header {
  border-bottom: 2px solid #331d2c;
}
body header .container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  body header .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  body header .container {
    padding: 60px 20px;
    width: 720px;
  }
}
@media (max-width: 576px) {
  body header .container {
    padding: 40px 20px;
    width: 540px;
  }
}
body header .container a.logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #331d2c;
  padding: 0 5px;
}
body header .container ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
body header .container ul.menu li {
  list-style: none;
}
body header .container ul.menu li:nth-child(4) a {
  background-color: #331d2c;
  color: #fff;
  font-weight: normal;
}
body header .container ul.menu li a {
  font-size: 16px;
  font-weight: 500;
  color: #033844;
  text-decoration: none;
  color: #331d2c;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
}
body header .container .openMobileMenu {
  display: none;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body header .container .openMobileMenu i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #331d2c;
}
@media (max-width: 900px) {
  body header .container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body header .container ul.menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    gap: 5px;
  }
  body header .container ul.menu li {
    width: 100%;
  }
  body header .container ul.menu li a {
    padding: 10px;
    width: 100%;
    display: flex;
  }
  body header .container ul.menu li:nth-child(4) {
    padding: 20px 0;
  }
  body header .container ul.menu li:nth-child(4) a {
    display: flex;
    justify-content: center;
  }
  body header .container .openMobileMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
body main section#heroSection .container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
}
@media (max-width: 992px) {
  body main section#heroSection .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  body main section#heroSection .container {
    padding: 60px 20px;
    width: 720px;
  }
}
@media (max-width: 576px) {
  body main section#heroSection .container {
    padding: 40px 20px;
    width: 540px;
  }
}
body main section#heroSection .container .leftContainer {
  padding-bottom: 80px;
}
body main section#heroSection .container .leftContainer h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #331d2c;
  line-height: 1.2em;
  font-size: 86px;
}
@media (max-width: 992px) {
  body main section#heroSection .container .leftContainer h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  body main section#heroSection .container .leftContainer h1 {
    font-size: 36px;
  }
}
body main section#heroSection .container .leftContainer h1 span {
  -webkit-text-stroke: 2px #331d2c;
  -webkit-text-fill-color: transparent;
}
body main section#heroSection .container .leftContainer p {
  font-size: 16px;
  font-weight: 500;
  color: #033844;
  margin: 20px auto;
  text-align: center;
  max-width: 60%;
}
body main section#heroSection .container .leftContainer .containerCTA {
  display: flex;
  justify-content: center;
  gap: 15px;
}
body main section#heroSection .container .leftContainer .containerCTA #learnMoreButton,
body main section#heroSection .container .leftContainer .containerCTA #contactMeButton {
  padding: 10px 20px;
  border: 1px solid transparent;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  border-radius: 6px;
}
body main section#heroSection .container .leftContainer .containerCTA #learnMoreButton {
  background-color: #331d2c;
  color: #ffffff;
}
body main section#heroSection .container .leftContainer .containerCTA #contactMeButton {
  border-color: #331d2c;
  color: #331d2c;
}
body main section#heroSection .container .rightContainer {
  position: relative;
}
body main section#heroSection .container .rightContainer img {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  background-color: #eee;
  border-radius: 6px;
}
body main section#aboutMe .container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  body main section#aboutMe .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  body main section#aboutMe .container {
    padding: 60px 20px;
    width: 720px;
  }
}
@media (max-width: 576px) {
  body main section#aboutMe .container {
    padding: 40px 20px;
    width: 540px;
  }
}
body main section#aboutMe .container .containerAvatar {
  flex: 1;
  margin: auto;
  position: relative;
}
body main section#aboutMe .container .containerAvatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  aspect-ratio: 1/1;
  max-width: 550px;
  border-radius: 6px;
}
body main section#aboutMe .container .containerInformation {
  flex: 1;
  padding: 40px;
  margin-left: 50px;
}
body main section#aboutMe .container .containerInformation p.preTitle {
  font-style: italic;
  margin-bottom: 15px;
  font-size: 15px;
}
body main section#aboutMe .container .containerInformation h2.title {
  font-size: 56px;
  font-weight: 700;
  color: #331d2c;
  line-height: 1.2em;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  body main section#aboutMe .container .containerInformation h2.title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  body main section#aboutMe .container .containerInformation h2.title {
    font-size: 36px;
  }
}
body main section#aboutMe .container .containerInformation p.description {
  font-size: 16px;
  font-weight: 500;
  color: #033844;
  text-align: justify;
}
body main section#aboutMe .container .containerInformation p.description span {
  display: block;
  margin-top: 10px;
}
body main section#aboutMe .container .containerInformation ul.containerSocial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
body main section#aboutMe .container .containerInformation ul.containerSocial li {
  list-style: none;
}
body main section#aboutMe .container .containerInformation ul.containerSocial li a {
  text-decoration: none;
  color: #331d2c;
  text-align: center;
  gap: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
body main section#aboutMe .container .containerInformation ul.containerSocial li a i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main section#aboutMe .container .containerInformation ul.containerSocial li a:hover > p {
  text-decoration: underline;
}
body main section#stunningWebs .container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
}
@media (max-width: 992px) {
  body main section#stunningWebs .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  body main section#stunningWebs .container {
    padding: 60px 20px;
    width: 720px;
  }
}
@media (max-width: 576px) {
  body main section#stunningWebs .container {
    padding: 40px 20px;
    width: 540px;
  }
}
body main section#stunningWebs .container p.preTitle {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}
body main section#stunningWebs .container h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 900;
}
body main section#stunningWebs .container p.desc {
  text-align: center;
  margin-bottom: 40px;
  font-size: 15px;
}
body main section#stunningWebs .container ul {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
body main section#stunningWebs .container ul li {
  list-style: none;
  border: 2px solid #331d2c;
}
body main section#stunningWebs .container ul li .top {
  height: 350px;
}
body main section#stunningWebs .container ul li .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}
body main section#stunningWebs .container ul li .bottom {
  padding: 25px 20px;
}
body main section#stunningWebs .container ul li .bottom .preTitleCard {
  font-size: 14px;
  color: #331d2c;
  margin: 10px 0;
}
body main section#stunningWebs .container ul li .bottom h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
body main section#stunningWebs .container ul li .bottom p {
  margin-bottom: 40px;
}
body main section#stunningWebs .container ul li .bottom a {
  padding: 10px 0px;
  text-decoration: none;
  color: #331d2c;
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body main section#stunningWebs .container ul li .bottom a p {
  margin: 0;
  margin-right: 10px;
}
body main section#stunningWebs .container ul li .bottom a i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
@media (max-width: 992px) {
  body main section#heroSection .container {
    padding-bottom: 40px;
  }
  body main section#heroSection .container .leftContainer h1 span {
    -webkit-text-stroke-width: 1px;
  }
  body main section#heroSection .container .leftContainer p {
    max-width: none;
  }
  body main section#aboutMe .container {
    flex-direction: column;
    align-items: flex-start;
  }
  body main section#aboutMe .container .containerAvatar {
    margin: 0;
  }
  body main section#aboutMe .container .containerInformation {
    margin-left: 0;
    padding: 0;
    margin-top: 10px;
  }
}
body footer .container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
}
@media (max-width: 992px) {
  body footer .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  body footer .container {
    padding: 60px 20px;
    width: 720px;
  }
}
@media (max-width: 576px) {
  body footer .container {
    padding: 40px 20px;
    width: 540px;
  }
}
body footer .container .logo {
  text-decoration: none;
  color: #331d2c;
  font-size: 28px;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
}
body footer .container ul.footerList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer .container ul.footerList li {
  list-style: none;
  margin: 0 5px;
}
body footer .container ul.footerList li a {
  text-decoration: none;
  color: #331d2c;
  text-align: center;
  gap: 10px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
body footer .container ul.footerList li a i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer .container ul.footerList li a:hover > p {
  text-decoration: underline;
}
body footer .container hr {
  width: 100%;
  height: 3px;
  color: #331d2c;
  background-color: #331d2c;
  margin: 40px 0;
}
body footer .container .containerRights p {
  font-size: 14px;
  color: #331d2c;
}
@media (max-width: 768px) {
  body footer ul.footerList > li > a > p {
    display: none;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes filling {
  0%, 90% {
    fill: #331d2c;
    fill-opacity: 0;
  }
  100% {
    fill: #331d2c;
    fill-opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */